@import "@/styles/styles.scss";

.main {
  @include flex(
    $align-items: center,
    $justify-content: space-around,
    $flex-direction: row,
    $flex-wrap: nowrap
  );
  background-color: $black;
  color: $white;
  font-weight: 200;
  font-size: px;
  height: 80px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid $white;

  li {
    box-shadow: inset 0 0 0 0 $lazuli;
    padding: 2px 8px;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: inset 200px 0 0 0 $lazuli;
    }
  }
}

.active {
  border-bottom: 2px solid $lazuli;
}
