@import "@/styles/styles.scss";

.normal {
  background-color: $green;
  border: 1px solid $green;
  border-radius: 8px;
  color: $white;
  cursor: pointer;
  padding: 8px 16px;

  &:hover {
    background-color: $white;
    border: 1px solid $green;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: $green;
  }
}

.calculator {
  border: 1px solid $green;
  border-radius: 100%;
  cursor: pointer;
  height: 48px;
  transition: background-color 0.25s ease;
  width: 48px;

  &:hover {
    background-color: $green;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: $white;
  }
}
